

/*-------------------------------START Footer------------------------------*/

footer {
    padding-top: 10px;
    border-color: var(--primary-color);
    text-align: center;
    border-style: solid;
    border-width: 2px 0 0 0;
  }
  
  
  
  .social-menu ul{
    position: relative;
    list-style-type: none;
    display: inline-flex;
    margin-bottom: 0;
    padding-left: 0;
  }
  .social-menu ul li a i:hover{
    transform:translate(0,-5px);
  }
  .contact-icon {
    font-size: 30px;
    padding-left: 10px;
    color: var(--primary-color);
  }
  
  .follow {
    font-weight: bold;
  }
  
  /*-------------------------------END Footer------------------------------*/