

/* css variables */
@import url(partials/_variables.css);




/* STARTS tags styles */

body{
  background-color: var(--bg-color);
  position: relative;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}
p{
  padding-top: 0;
  font-weight: bold;
}
footer{
  padding-top: 10px;
  text-align: center;
  border-style: solid;
  border-width: 3px 0 0 0;
}

/* END tags styles */



.green {
  color: var(--primary-color);
}
/*-------------------------------START Nav bar------------------------------*/


.navbar a {
  color: var(--primary-color);
}

.navbar{
  background-color: var(--bg-color);
  font-weight: bold;
  padding:1% 3% 1% 0.5%;
  border-bottom-style: solid;
  border-color: var(--primary-color);
}
.logo {
  height: 5vh;
  margin-right: 10px;
}
.logo-name {
  float: right;
  margin-top: 2%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  height: 0.1vh;
}

/*-------------------------------END Nav bar------------------------------*/


/*-------------------------------START Sliding window recommendations------------------------------*/

.carousel{
  padding:1% 10%;
  margin-bottom: 5%;
}
.carousel .carousel-item{
  position: relative;
}
.carousel-img{
  height: 25rem;
  /* display: block; */
  width: 80% !important;
  opacity: 0.6;
  object-fit: cover;
  margin: auto;
  /* padding: 1% 3%; */
}
@media (max-width: 700px){
  .carousel-img{
    height: 250px;}
}
.carousel-img-info {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  opacity: 0.8;
}

.carousel-img-info h3{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}
.carousel-control-next{
  width: 4%;
  height: 40%;
  top: 30%;
  right: 6%;
}
.carousel-control-prev{
  width: 4%;
  height: 40%;
  top: 30%;
  left: 6%;
}

/*-------------------------------END Sliding window recommendations------------------------------*/

.btn {
  padding: 0 2%;
}
.blue-bg {
  background-color:blue;
}
.pre-nxt-btn{
  font-size: 25px;
  padding: 1% 2%;
  color: var(--primary-color);
}
#page-navigation{
  text-align: right;
  padding-bottom: 1%;
}
.container-for-content{
  margin-bottom: 5%;
}

.bottom-text{
  font-weight: bold;
}


/*-------------------------------START Footer------------------------------*/
.contact-div {
  display: inline-block;
}
.contact-icon {
  font-size: 30px;
  padding-left: 10px;
  color: var(--primary-color);
}

.follow{
  font-weight: bold;
}

/*-------------------------------END Footer------------------------------*/