/* css variables */
@import "const";

/*-------------------------------START Sliding window recommendations------------------------------*/

.carousel {
  padding: 1% 10%;
  margin: 3% auto;
}
.carousel .carousel-item {
  position: relative;
}
.carousel-item .far {
  color: $primary_color;
}
.carousel-img {
  height: 25rem;
  /* display: block; */
  width: 90% !important;
  opacity: 0.6;
  object-fit: cover;
  margin: auto;
  /* padding: 1% 3%; */
}

@media (max-width: 700px) {
  .carousel-img {
    height: 12rem;
  }
}

.carousel-caption {
  position: absolute;
  height: 30%;
  max-width: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $bg_color;
  opacity: 0.7;
}

.carousel-img-info h3 {
  /* font-weight: bold; */
  font-size: 1.5rem;
  /* line-height: 1.5; */
}
.carousel-control-next,
.carousel-control-prev {
  width: 4%;
  height: 40%;
  top: 30%;
}
.carousel-control-prev {
  left: 10%;
}
.carousel-control-next {
  right: 10%;
}

/*-------------------------------END Sliding window recommendations------------------------------*/

.btn {
  padding: 0 2%;
}
.blue-bg {
  background-color: blue;
}
.pre-nxt-btn {
  font-size: 25px;
  padding: 1% 2%;
  color: $primary_color;
}
#page-navigation {
  text-align: right;
  padding-bottom: 1%;
}
.container-for-content {
  margin-bottom: 5%;
}

.bottom-text {
  font-weight: bold;
}

/*-------------------------------START Footer------------------------------*/
.contact-div {
  display: inline-block;
}
.contact-icon {
  font-size: 30px;
  padding-left: 10px;
  color: $primary_color;
}

.follow {
  font-weight: bold;
}

/*-------------------------------END Footer------------------------------*/
